---
import ServiceCard from "./ServiceCard.astro"
import "../serviceStyles/_services.css"
---
<div id="services">
    <ServiceCard img="1" title="One Bedroom Apartment" />
    <ServiceCard img="2" title="Window Cleaning"  />
    <ServiceCard img="3" title="Residential Cleaning" />
    <ServiceCard img="4" title="Construction Cleaning" />
    <ServiceCard img="5" title="Commercial Cleaning" />
    <ServiceCard img="6" title="Two Bedroom Apartment" />
</div>