.container_main {
  display: flex;
  justify-content: space-between;
  padding: 112px 64px;
  background-color: #f7f7f7;
}

.container_main_form_paragraph1,
.containerSp_main_paragraph1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;
}

.container_main_form_title {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 24px;
}

.container_main_form_paragraph2,
.containerSp_main_paragraph2 {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
}

.container_main_form_inputs,
.container_main_form_selects {
  display: flex;
  gap: 24px;
}

.container_main_form_selects {
  margin-bottom: 24px;
}

.container_main_form_inputs {
  margin-bottom: 24px;
}

.container_main_form_inputs_1_label,
.container_main_form_inputs_2_label,
.container_main_form_selects_1_label,
.container_main_form_selects_2_label,
.container_main_form_textareaLabel,
.containerSp_main_form_fullNameLabel,
.containerSp_main_form_phoneNumberLabel,
.containerSp_main_form_serviceLabel,
.containerSp_main_form_selectTimeLabel,
.containerSp_main_form_textareaLabel {
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container_main_form_inputs_1_input,
.container_main_form_inputs_2_input {
  padding: 0;
}

.container_main_form_inputs_1_input,
.container_main_form_inputs_2_input,
.container_main_form_selects_1_select,
.container_main_form_selects_2_select,
.containerSp_main_form_fullNameInput {
  width: 296px;
  height: 48px;
  border-radius: 5px;
  font-size: 20px;
}

.container_main_form_textarea {
  width: 616px;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 24px;
  display: block;
}

.container_main_form_checkbox,
.containerSp_main_form_checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.container_main_form_checkbox_input,
.containerSp_main_form_checkbox_input {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.container_main_form_submit,
.containerSp_main_form_submit,
.container_sub_button,
.containerSp_sub_button {
  color: white;
  background-color: #000000;
  padding: 12px 24px;
  border-radius: 5px;
}

.container_sub {
  padding: 112px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_sub_explanation_main {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.container_sub_explanation_sub {
  font-size: 18px;
  line-height: 27px;
}
.container_sub_button {
  height: 48px;
}

@media (min-width: 428px) {
  .containerSp {
    display: none;
  }
}

@media (max-width: 428px) {
  .container {
    display: none;
  }
  .containerSp {
    display: block;
  }
  .containerSp_main {
    padding: 48px 24px;
    background-color: #f7f7f7;
  }
  .containerSp_main_title {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
    margin-bottom: 24px;
  }

  .containerSp_main_form_fullNameInput,
  .containerSp_main_form_phoneNumberInput {
    padding: 0;
  }

  .containerSp_main_form_fullNameInput,
  .containerSp_main_form_phoneNumberInput,
  .containerSp_main_form_serviceSelect,
  .containerSp_main_form_selectTimeSelect {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 24px;
  }

  .containerSp_main_form_textarea {
    width: -webkit-fill-available;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 24px;
  }

  .containerSp_main_form_submit {
    width: 100%;
  }
  .containerSp_sub {
    padding: 48px 24px;
  }
  .containerSp_sub_main {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .containerSp_sub_sub {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 48px;
  }
  .containerSp_sub_button {
    height: 40px;
  }
}

body,
p,
h1 {
  margin: 0;
}
