body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #f7f7f7;
  padding: 5rem 0;

  #service-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;

    h1 {
      font-family: Roboto;
    }
  }

  #services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 24px;
    padding: 64px 86px 0;

    .top-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 24px;

      .card-component {
        border: solid 0.5px #676767;
        border-radius: 5px;
        width: 100%;

        img {
          width: 100%;
        }

        .text {
          padding: 16px 0;
          text-align: center;

          h5 {
            font-size: 24px;
            margin: 0;
            padding: 1rem 0;
          }

          p {
            font-size: 16px;
            width: 70%;
            margin: 0 auto;
          }
        }
      }
    }

    .bottom-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 24px;

      .card-component {
        border: solid 0.5px #676767;
        border-radius: 5px;
        width: 100%;

        img {
          width: 100%;
        }

        .text {
          padding: 16px 0;
          text-align: center;

          h5 {
            font-size: 24px;
            margin: 0;
            padding: 1rem 0;
          }

          p {
            font-size: 16px;
            width: 70%;
            margin: 0 auto;
          }
        }
      }
    }

    .btn {
      display: none;
    }
  }
}

@media screen and (max-width: 428px) {
  main {
    #service-title {
      margin: 0 auto;
      width: 380px;

      p {
        font-size: 18px;
      }
    }

    #services {
      display: grid;
      grid-template-columns: repeat(1, minmax(300px, 380px));
      padding: 64px 0;
      justify-content: center;

      .top-cards {
        //   padding-top: 48px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 380px));
      }

      .bottom-cards {
        grid-template-columns: 1fr;
      }

      .hidden {
        display: none;
      }

      .btn {
        display: block;
        background-color: #f7f7f7;
        border: solid 1px #000;
        padding: 12px 24px;
        border-radius: 5px;
      }
    }
  }
}
