---
import Services from "./serviceComponents/Services.astro"
const serviceImages = await Astro.glob("../../../public/services/*.png")
import "./serviceStyles/_styles.css"
import Footer from "../../components/footer/index.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Our Services</title>
    </head>
    <body>
        <main>
            <div id="service-title">
                <h1>Our Services</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <Services />
        </main>
        <Footer />
    </body>
</html>

