---
import './styles.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <div class="container">
      <div class="container_text">
        <h1 class="container_text_title">
          A Clean Home,
          A Happy Life,
          Let Us Handle the Dirty Work!
        </h1>
        <p class="container_text_paragraph">
          We develop innovative design solutions that enable our clients to enhance their competitive advantage.
        </p>
        <div class="container_text_buttons">
          <button class="container_text_buttons_1">Request A Quote</button>
          <button class="container_text_buttons_2">Learn More</button>
        </div>
      </div>
      <img src="/index/Image.png" />
    </div>
	</body>
</html>
