.container_main {
  display: flex;
}
.container_main_text {
  padding: 233px 80px;
}
.container_main_text_title {
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
}
.container_main_text_paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 24px;
}
.container_main_text_buttons,
.containerSp_buttons {
  display: flex;
  gap: 16px;
}
.container_main_text_buttons_1,
.container_main_text_buttons_2,
.containerSp_buttons_1,
.containerSp_buttons_2 {
  padding: 12px 24px;
  border-radius: 5px;
}
.container_main_text_buttons_1,
.containerSp_buttons_1,
.containerSp_form_button,
.container_form_button,
.containerAbout_text_button,
.containerAboutSp_button {
  background-color: #000;
  color: white;
}
.container_main_text_buttons_2,
.containerSp_buttons_2 {
  background-color: white;
}
.container_form {
  display: flex;
  justify-content: space-between;
  padding: 55px 162px;
  align-items: end;
}
.container_form_label {
  display: block;
}
.container_form_input {
  width: 296px;
  height: 48px;
}
.container_form_button {
  width: 148px;
  height: 48px;
}

@media (min-width: 428px) {
  .containerSp {
    display: none;
  }
}

@media (max-width: 428px) {
  .container {
    display: none;
  }
  .containerSp {
    display: block;
    padding: 24px;
  }
  .containerSp_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .containerSp_paragraph {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 24px;
  }
  .containerSp_buttons {
    margin-bottom: 24px;
  }
  .containerSp_image {
    display: block;
  }
  .containerSp_form {
    padding: 48px 24px;
  }
  .containerSp_form_label {
    display: block;
    line-height: 24px;
  }
  .containerSp_form_input {
    width: 100%;
    height: 48px;
  }
  .containerSp_form_button {
    width: 100%;
    height: 40px;
    margin-top: 18px;
  }
}

.containerAbout {
  padding: 112px 64px;
  display: flex;
  gap: 80px;
}
.containerAbout_text_tag {
  font-weight: 600;
  line-height: 24px;
}
.containerAbout_text_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
}
.containerAbout_text_paragraph {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 48px;
}
.containerAbout_text_button {
  padding: 8px 20px;
}

@media (min-width: 428px) {
  .containerAboutSp {
    display: none;
  }
}

@media (max-width: 428px) {
  .containerAbout {
    display: none;
  }
  .containerAboutSp {
    display: block;
    padding: 48px 24px;
  }
  .containerAboutSp_tag {
    font-weight: 600;
    line-height: 24px;
  }
  .containerAboutSp_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
  }
  .containerAboutSp_paragraph {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 48px;
    border-radius: 5px;
  }
  .containerAboutSp_button {
    padding: 8px 20px;
    margin-bottom: 48px;
  }
}

.containerOurTeam {
  padding: 112px 96px 112px 64px;
  text-align: center;
}
.containerOurTeam_title {
  margin-bottom: 24px;
}
.containerOurTeam_paragraph {
  margin-bottom: 80px;
}
.containerOurTeam_info {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
.containerOurTeam_info_card {
  display: flex;
  width: 608px;
  gap: 32px;
  margin-bottom: 64px;
}
.containerOurTeam_info_card_profile_name {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 16px;
}
.containerOurTeam_info_card_profile_paragraph {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

@media (min-width: 428px) {
  .containerOurTeamSp {
    display: none;
  }
}

@media (max-width: 428px) {
  .containerOurTeam {
    display: none;
  }
  .containerOurTeamSp {
    display: block;
    padding: 48px 24px;
    text-align: center;
  }
  .containerOurTeamSp_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
  }
  .containerOurTeamSp_paragraph {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 48px;
  }
  .containerOurTeamSp_card {
    margin-bottom: 64px;
  }
  .containerOurTeamSp_card_name {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .containerOurTeamSp_card_p {
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .containerOurTeamSp_button {
    width: 100%;
    height: 48px;
  }
}

body,
p,
h1 {
  margin: 0;
}
